body{
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
}

/* header */

header{
    margin: 0px 0px 20px 0px;
    padding: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 8px 15px rgba(000, 000, 000, 0.5);
}

#CCI{
    margin: 0px 10px;
    padding: 0px;
    width: 60px;
    height: 60px;
}

#CCILogo{
    margin: 0px;
    padding: 0px;
    width: 60px;
    height: 60px;
}

#CCItext{
    height: 60px;
    color: #fff;
}

#CCItext h3{
    margin: 15px 0px;
    width: 150px;
    display: inline-block;
    color: #fff;
}

#searchcontain{
    height: 60px;
    width: 75%;
}

.avatar{
    margin: 12px 20px 0px 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 25px;
}

.avatar p{
    margin: 0px;
    padding: 0px;
}

.name{
    margin: 25px 10px 0px 0px;
    padding: 0px;
    vertical-align: middle;
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    color: #fff;
}

#lavatar{
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}