 #light-box {
   margin-left: 650px;
   margin-top: 70px;
   position: fixed;
   height: 400px;
   width: 730px;
   background: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   color: #fff;
 }
 
 #light-box img {
   width: 700px;
   height: 360px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
 }
 
 .img {
   max-width: 1000px;
   max-height: 600px;
   border: 1px solid #ccc;
   padding: 10px;
   margin: 5px;
   box-shadow: 0px 2px 3px #000;
 }
